<div class="container">
  <h4> Welcome <%= current_user.first_name.capitalize %>, to your
    <%= "booking#{ 's' if @bookings.count > 1 }" %>
  </h4>
  <% if @bookings.present? %>
      <% @bookings.each do |booking| %>
        <li>
          <%= link_to restaurant_path(booking.restaurant) do %>
            <%= booking.restaurant.name %>
          <% end %>
          <%= booking.date.strftime("%e %b %Y %H:%M") %>

          <%= link_to "Edit", edit_restaurant_booking_path(booking.restaurant, booking) %>
          <%= link_to "Cancel Booking", restaurant_delete_booking_path(booking.restaurant, booking),
              data: {turbo_method: :delete, turbo_confirm:
              "Cancel booking for #{booking.restaurant.name} restaurant at #{booking.date.strftime("%e %b %Y %H:%M")}?"} %>
        </li>
        <div class="btn-back">
          <%= link_to "Back", restaurants_path %>
        </div>
      <% end %>
    <% else %>
      <h2>You have not booked a table yet?</h2>
  <% end %>
</div>
