<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="search-form">
    <%= form_with url: restaurants_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :queryname,
            params[:queryname],
            class: "form-control",
            placeholder: "Restaurant..."
      %>
      <%= text_field_tag :querycity,
            params[:querycity],
            class: "form-control",
            placeholder: "City..."
      %>
      <%= text_field_tag :queryaddress,
            params[:queryaddress],
            class: "form-control",
            placeholder: "Address..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
